.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #c9e2f7;
    padding: 0px 40px;
        &__span{
            font-size: 50px;
        }
    
    &__navigation{
       
        display: flex;
        align-items: center;
        position: static;
        background-color: transparent;
        @media screen and (max-width:800px) {
            position: absolute;
            top: 120px;
            right: 0;
            background-color: white;
            padding: 20px;
            flex-direction: column;
            translate: 100% ;
            width: 100vw;
            transition: translate 1s;
        }
    }
    &__menu{
        display: flex;
    }
    &__toggle{
        display: none;
    }
    &__toggle:checked + &__navigation{
        translate: 0%;
    }
    &__icon{
       
        flex-direction: column;
        gap: 5px;
        width: 30px;
        cursor: pointer;
        padding: 10px;
        display: none;
        z-index: 5;
        @media screen and (max-width:800px) {
            display: flex;
        }
    }
    &__barre{
        display: block;
        width: 30px;
        height: 4px;
        background-color: black;
    }
    &__burger{
        z-index: 1;
    }
}