.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navigation{
       
        display: flex;
        align-items: center;
        position: static;
        background-color: transparent;
        @media screen and (max-width:800px) {
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
            padding: 20px;
            flex-direction: column;
        }
    }
}