.hero{
    background-image: url("images/maldives.jpg");
    min-height: 100vh;
   background-size: cover;
    &__inscrire{
        background-color: rgb(128 128 128 / 79%);
        border-radius: 6px;
        max-width: 102px;
        min-height: 33px;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
}                                                                                                                                                                                                                                                                                                                                                                                                             