@keyframes carrouselAnimation {
    0%,20% {
      opacity: 1; 
    }
    
    25%,100% {
      opacity: 0; 
    }
    
  }

.hero{
    position: relative;
    min-height: 100vh;
   background-size: cover;
   &__contenu{
    position: absolute;
    z-index: 60;
    animation: none;
    top: 0;
   }
   &__radio__input{
    // position: absolute;
    // left: 50%;
    // bottom: 10%;
    // z-index: 100;
    display: none;
   }
//    &__radio__input:nth-of-type(1){
//     left: 49%;
//    }
//    &__radio__input:nth-of-type(3){
//     left: 51%;
//    }
&__label{
    display: flex
    ;
    gap: 1vw;
        position: absolute;
        bottom: 71px;
        right: 50%;
        z-index: 100;
    .buttonR{
        display: block;
        width: 10px; 
        height: 10px;
        background-color: gray; 
        border-radius: 3px;
        z-index: 100;
    }
}

    &__inscrire{
        background-color: rgb(128 128 128 / 79%);
        border-radius: 6px;
        max-width: 102px;
        min-height: 33px;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__carrousel{
        position: absolute;
        min-height: 100vh;
        width: 100%;
        background-size: inherit;
        // animation: carrouselAnimation 30s ease-in-out infinite;
        z-index: 1;
        opacity: 0;
        transition: opacity 3s ease-in-out;

    }
}

.hero__carrousel:nth-of-type(2) {
    // animation-delay: 10s; 

}

.hero__carrousel:nth-of-type(3) {
    // animation-delay: 15s;

}
.active{
    opacity: 1;
}