/*----------------------- CARTE.SCSS-----------------------------*/
.carte {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #457dac45;
  border-radius: 30px 30px 5px 5px;
  flex: 0 1 250px;
    &--grande {
        flex: 1 1 310px;
        min-height: 450px;
        overflow: hidden;
        transition: scale 1s ease ;
        
    }
    &--grande:hover{
        scale: 1.1;
        cursor: pointer;
    }
    &--grande:hover &__contenu {
        translate: 0px 98px;

      
    }
    &--grande-checkbox:checked + &--grande{
        scale: 2;
        z-index: 10;
        
    }
    &__image {

        img {
            width: 100%;
        }
    }

    &__contenu {
       
        min-height: 66%;
    display: flex
;
    justify-content: flex-end;
    gap: 4px;
    background-color: #5bb0b3;
    flex-direction: column;
    /* overflow: hidden; */
    transition: translate 1s ease;
    align-items: center;
        a{
            text-decoration: none;
            color: #1f3444eb;
        }
        .post-categories{
            background-color: #e8fafda6;
            width: 5vw;
            border-radius: 30px;
            height: 26px;
            display: flex ;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: inherit;
        }
    }
    &__titre{
       
    }
    &__description{}
    &__button{
        &--actif{}
    }
}