

.carte {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #457dac45;
    &--grande {
        flex: 1 1 250px ;
    }

    &__image {

        img {
            width: 100%;
        }
    }

    &__contenu {
        background-color:  #23afc6;
    }
    &__titre{
       
    }
    &__description{}
    &__button{
        &--actif{}
    }
}