//.menu
.menu{ //ul

&__ul{//l 
  display: flex
  ;
      /* flex-direction: row; */
      list-style-type: none;
      gap: 35px;
      margin: 3px 36px;
      font-size: 1.3rem;
    
  @media screen and (max-width :800px) {
    flex-direction: column;
    
  }
  .menu_li, a {//a
    padding: 4px;
    list-style-type: none;
    text-decoration: none;
    color:#888383;
    text-transform: uppercase;
  }
  
}
}