//.menu
.menu{ //ul
  display: flex;
  flex-direction: row;
  list-style-type: none;
  @media screen and (max-width:800px){
    flex-direction: column;
}
  &-item {
    a{
      padding: 4px;
      list-style-type: none;
      text-decoration: none;
      color:#595252;
      text-transform: uppercase;
       }//a
    padding: 4px;
    list-style-type: none;
    text-decoration: none;
    color:#595252;
    text-transform: uppercase;
  }
  


}