body{
  font-size : 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}


h1{
  font-size: clamp(2rem, 3vw, 5rem);
}
h2{
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
h3{
  font-size: clamp(1rem, 2.3vw, 2rem);
}
h4{
  font-size: clamp(0.9rem, 2vw, 1.5rem);
}
h5{
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}
h6{
  font-size: clamp(0.8rem, 1.7vw, 1.2rem);
}
p{
  font-size: clamp(.8rem, 1.7vw, 1rem);
}